{% extends 'base.html.twig' %}

{% block title %}ElencoValutazioneGenerale{% endblock %}

{% block body %}
    <h1>Valutazione Generale</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Data valutazione</th>
                <th>N componenti nucleo abitativo</th>
                <th>Rischio infettivo</th>
                <th>Diagnosi</th>
                <th>Tipologia valutazione</th>
                <th>Panf</th>
                <th>Fanf</th>
                <th>Iss</th>
                <th>Uso servizi igenici</th>
                <th>Abbigliamento</th>
                <th>Alimentazione</th>
                <th>Indicatore deambulazione</th>
                <th>Igene personale</th>
                <th>Cognitività</th>
                <th>Comportamento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for valutazione_generale in valutazione_generales %}
            <tr>
                <td>{{ valutazione_generale.id }}</td>
                <td>{{ valutazione_generale.nome }}</td>
                <td>{{ valutazione_generale.dataValutazione ? valutazione_generale.dataValutazione|date('Y-m-d') : '' }}</td>
                <td>{{ valutazione_generale.nComponentiNucleoAbitativo }}</td>
                <td>{{ valutazione_generale.rischioInfettivo ? 'Si' : 'No' }}</td>
                <td>{{ valutazione_generale.diagnosi }}</td>
                <td>{{ valutazione_generale.tipologiaValutazione }}</td>
                <td>{{ valutazione_generale.panf }}</td>
                <td>{{ valutazione_generale.fanf }}</td>
                <td>{{ valutazione_generale.iss }}</td>
                <td>{{ valutazione_generale.usoServiziIgenici }}</td>
                <td>{{ valutazione_generale.abbigliamento }}</td>
                <td>{{ valutazione_generale.alimentazione }}</td>
                <td>{{ valutazione_generale.indicatoreDeambulazione }}</td>
                <td>{{ valutazione_generale.igenePersonale }}</td>
                <td>{{ valutazione_generale.cognitivita }}</td>
                <td>{{ valutazione_generale.comportamento }}</td>
                <td>
                    <a href="{{ path('app_valutazione_generale_show', {'id': valutazione_generale.id}) }}">Visualizza</a>
                    <a href="{{ path('app_valutazione_generale_edit', {'id': valutazione_generale.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_valutazione_generale_new') }}">Nuova scheda</a>
{% endblock %}
