{% extends 'base.html.twig' %}

{% block title %}Valutazione Generale{% endblock %}

{% block body %}
    <h1>Valutazione Generale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ valutazione_generale.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ valutazione_generale.nome }}</td>
            </tr>
            <tr>
                <th>Data valutazione</th>
                <td>{{ valutazione_generale.dataValutazione ? valutazione_generale.dataValutazione|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>N componenti nucleo abitativo</th>
                <td>{{ valutazione_generale.nComponentiNucleoAbitativo }}</td>
            </tr>
            <tr>
                <th>Rischio infettivo</th>
                <td>{{ valutazione_generale.rischioInfettivo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Diagnosi</th>
                <td>{{ valutazione_generale.diagnosi }}</td>
            </tr>
            <tr>
                <th>Tipologia valutazione</th>
                <td>{{ valutazione_generale.tipologiaValutazione }}</td>
            </tr>
            <tr>
                <th>Panf</th>
                <td>{{ valutazione_generale.panf }}</td>
            </tr>
            <tr>
                <th>Fanf</th>
                <td>{{ valutazione_generale.fanf }}</td>
            </tr>
            <tr>
                <th>Iss</th>
                <td>{{ valutazione_generale.iss }}</td>
            </tr>
            <tr>
                <th>Uso servizi igenici</th>
                <td>{{ valutazione_generale.usoServiziIgenici }}</td>
            </tr>
            <tr>
                <th>Abbigliamento</th>
                <td>{{ valutazione_generale.abbigliamento }}</td>
            </tr>
            <tr>
                <th>Alimentazione</th>
                <td>{{ valutazione_generale.alimentazione }}</td>
            </tr>
            <tr>
                <th>Indicatore deambulazione</th>
                <td>{{ valutazione_generale.indicatoreDeambulazione }}</td>
            </tr>
            <tr>
                <th>Igene personale</th>
                <td>{{ valutazione_generale.igenePersonale }}</td>
            </tr>
            <tr>
                <th>Cognitività</th>
                <td>{{ valutazione_generale.cognitivita }}</td>
            </tr>
            <tr>
                <th>Comportamento</th>
                <td>{{ valutazione_generale.comportamento }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_valutazione_generale_index') }}">Torna alla lista</a>

    <a href="{{ path('app_valutazione_generale_edit', {'id': valutazione_generale.id}) }}">Modifica</a>

    {{ include('valutazione_generale/_delete_form.html.twig') }}
{% endblock %}
