{% extends 'base.html.twig' %}

{% block title %}SchedaPAI index{% endblock %}

{% block body %}
    <h1>Schede PAI</h1>
<form action="{{ path('app_scheda_pai_index')}}" method="POST">
<div id="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
        <thead>
            <tr>
                <th>Id</th>
                <th>Operatore Principale</th>
                <th>Operatore Secondario Inf</th>
                <th>Operatore Secondario Tdr</th>
                <th>Operatore Secondario Log</th>
                <th>Operatore Secondario Asa</th>
                <th>Operatore Secondario Oss</th>
                <th>Assistito</th>
                <th>Id Console</th>
                <th>Id Progetto</th>
                <th>Stato</th>
                <th>Operazioni</th>
            </tr>
            <tr>
                <th><select class="form-select" name='filtro_id' onchange="this.form.submit()">
                    <option {% if ordinamento == '' %}selected{% endif %} value>Ordina</option>
                    <option {% if ordinamento == 'Crescente' %}selected{% endif %} value="Crescente">Crescente</option>
                    <option {% if ordinamento == 'Decrescente' %}selected{% endif %} value="Decrescente">Decrescente</option>
                    </select>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th><select class="form-select" name='filtro_stato' onchange="this.form.submit()">
                    <option {% if stato == '' %}selected{% endif %} value="">Tutti</option>
                    <option {% if stato == 'nuova' %}selected{% endif %} value="nuova">Nuova</option>
                    <option {% if stato == 'attiva' %}selected{% endif %} value="attiva">Attiva</option>
                    <option {% if stato == 'approvata' %}selected{% endif %} value="approvata">Approvata</option>
                    <option {% if stato == 'in_attesa_di_chiusura' %}selected{% endif %} value="in_attesa_di_chiusura"> In attesa di chiusura</option>
                    <option {% if stato == 'chiusa' %}selected{% endif %} value="chiusa">Chiusa</option>
                    <option {% if stato == 'chiusa_con_rinnovo' %}selected{% endif %} value="chiusa_con_rinnovo">Chiusa con rinnovo</option>
                    </select>
                </th>
                <th><select class="form-select" name='filtro_numero_schede' onchange="this.form.submit()">
                    <option {% if schede_per_pagina == 0 %}selected{% endif %} value=2>Visualizza per pagina</option>
                    <option {% if schede_per_pagina == 5%}selected{% endif %} value=5>5</option>
                    <option {% if schede_per_pagina == 10%}selected{% endif %} value=10>10</option>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for scheda_pai in scheda_pais %}
            <tr>
                <td data-title='Id'>{{ scheda_pai.id }}</td>
                <td data-title='Operatore Principale'>{{ scheda_pai.idOperatorePrincipale }}</td>
                <td data-title='Operatore Secondario Inf'>{{ scheda_pai.idOperatoreSecondarioInf ? scheda_pai.idOperatoreSecondarioInf|default('Nessuno')|join(', ') : 'Nessuno' }}</td>
                <td data-title='Operatore Secondario Tdr'>{{ scheda_pai.idOperatoreSecondarioTdr ? scheda_pai.idOperatoreSecondarioTdr|default('Nessuno')|join(', ') : 'Nessuno' }}</td>
                <td data-title='Operatore Secondario Log'>{{ scheda_pai.idOperatoreSecondarioLog ? scheda_pai.idOperatoreSecondarioLog|default('Nessuno')|join(', ') : 'Nessuno' }}</td>
                <td data-title='Operatore Secondario Asa'>{{ scheda_pai.idOperatoreSecondarioAsa ? scheda_pai.idOperatoreSecondarioAsa|default('Nessuno')|join(', ') : 'Nessuno' }}</td>
                <td data-title='Operatore Secondario Oss'>{{ scheda_pai.idOperatoreSecondarioOss ? scheda_pai.idOperatoreSecondarioOss|default('Nessuno')|join(', ') : 'Nessuno' }}</td>
                <td data-title='Assistito'>{{ scheda_pai.idAssistito }}</td>
                <td data-title='Id Console'>{{ scheda_pai.idConsole }}</td>
                <td data-title='Id Progetto'>{{ scheda_pai.idProgetto }}</td>
                <td data-title='Stato'>{{ scheda_pai.currentPlace }}</td>
                <td data-title='Operazioni'>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_scheda_pai_show', {'id': scheda_pai.id}) }}">Visualizza scheda Pai</a>
                        <li><a class="dropdown-item" href="{{ path('app_scheda_pai_edit', {'id': scheda_pai.id}) }}">Modifica scheda Pai</a>
                        <form method="post" action="{{ path('app_scheda_pai_delete', {'id': scheda_pai.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ scheda_pai.id) }}">
                        <li><a class="dropdown-item" href="{{ path('app_scheda_pai_delete', {'id': scheda_pai.id}) }}">Elimina scheda Pai</a>
                        </form>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'approvata' %}disabled{% endif %}" href="{{ path('app_valutazione_generale_new', {'id_pai': scheda_pai.id})}}">Valutazione Generale</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' %}disabled{% endif %}" href="{{ path('app_valutazione_figura_professionale_new', {'id_pai': scheda_pai.id})}}">Valutazione Figura Professionale</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' %}disabled{% endif %}" href="{{ path('app_parere_mmg_new', {'id_pai': scheda_pai.id})}}">Parere MMG</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% endif %}" href="{{ path('app_chiusura_servizio_new', {'id_pai': scheda_pai.id})}}">Chiusura servizio</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' %}disabled{% endif %}" href="{{ path('app_barthel_new', {'id_pai': scheda_pai.id})}}">Barthel</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' %}disabled{% endif %}" href="{{ path('app_form_pai_braden_new', {'id_pai': scheda_pai.id})}}">Braden</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' %}disabled{% endif %}" href="{{ path('app_s_p_m_s_q_new', {'id_pai': scheda_pai.id})}}">SPMSQ</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' %}disabled{% endif %}" href="{{ path('app_tinetti_new', {'id_pai': scheda_pai.id})}}">Tinetti</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' %}disabled{% endif %}" href="{{ path('app_vas_new', {'id_pai': scheda_pai.id})}}">Vas</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' %}disabled{% endif %}" href="{{ path('app_lesioni_new', {'id_pai': scheda_pai.id})}}">Lesioni</a></li>  
                    </ul>
                    </div>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</form>

    <a class="btn btn-primary" href="{{ path('app_scheda_pai_new') }}">Nuova scheda</a>
    <a class="btn btn-primary" href="{{ path('app_homepage') }}">Menù Principale</a>
    
<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_scheda_pai_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_scheda_pai_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_scheda_pai_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_scheda_pai_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_scheda_pai_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}

