{% extends 'base.html.twig' %}

{% block title %}SchedaPAI index{% endblock %}

{% block body %}
<div id = "scheda_pai">
    <h1>Schede PAI</h1>

<div class="b-example-divider"></div>

<form action="{{ path('app_scheda_pai_index')}}" method="POST" id="my_form">
<nav class="navbar navbar-expand bg-light">
    <div class="container-fluid">
        <div class="col-md-2">
        <p class="h6">Schede per pagina</p>
        <select class=" d-inline form-select" name='filtro_numero_schede' onchange="this.form.submit()">
                <option {% if schede_per_pagina == 0 %}selected{% endif %} value=10>10</option>
                <option {% if schede_per_pagina == 20 %}selected{% endif %} value=20>20</option>
                <option {% if schede_per_pagina == 50 %}selected{% endif %} value=50>50</option>
        </select>
        </div>
        <div class="col-md-2">
        <p class="h6">Ordina</p>
        <select class="d-inline form-select" name='filtro_id' onchange="this.form.submit()">
                <option {% if ordinamento == '' %}selected{% endif %} value>Ordina</option>
                <option {% if ordinamento == 'Crescente' %}selected{% endif %} value="Crescente">Crescente</option>
                <option {% if ordinamento == 'Decrescente' %}selected{% endif %} value="Decrescente">Decrescente</option>
        </select>
        </div>
        <div class="col-md-2">
        <p class="h6">Filtro stato</p>
        <select class="d-inline form-select" name='filtro_stato' onchange="this.form.submit()">
                <option {% if stato == '' %}selected{% endif %} value="">Tutti</option>
                <option {% if stato == 'nuova' %}selected{% endif %} value="nuova">Nuova</option>
                <option {% if stato == 'attiva' %}selected{% endif %} value="attiva">Attiva</option>
                <option {% if stato == 'approvata' %}selected{% endif %} value="approvata">Approvata</option>
                <option {% if stato == 'in_attesa_di_chiusura' %}selected{% endif %} value="in_attesa_di_chiusura"> In attesa di chiusura</option>
                <option {% if stato == 'chiusa' %}selected{% endif %} value="chiusa">Chiusa</option>
                <option {% if stato == 'chiusa_con_rinnovo' %}selected{% endif %} value="chiusa_con_rinnovo">Chiusa con rinnovo</option>
        </select>
        </div>
    </div>
</nav>
</form>

<div class="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data Inizio</th>
                <th>Data Fine</th>
                <th>Operatore Principale</th>
                <th>Assistito</th>
                <th>Stato</th>
                <th>Operazioni</th>
                <th>Espandi</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for scheda_pai in scheda_pais %}
            <tr>
                <td data-title='Id'>{{ scheda_pai.id }}</td>
                <td data-title='Data Inizio'>{{ scheda_pai.dataInizio|date('Y-m-d') }} </td>
                <td data-title='Data Fine'>{{ scheda_pai.dataFine|date('Y-m-d')}} </td>
                <td data-title='Operatore Principale'>
                    {% if scheda_pai.idOperatorePrincipale == null %}
                        Nessuno
                    {% else %}
                        {{ scheda_pai.idOperatorePrincipale.name}}
                        {{ scheda_pai.idOperatorePrincipale.surname}}
                        <br>
                    {% endif %}
                </td>
                <td data-title='Assistito'>
                {% for i in assistiti %}
                 {% if i.id == scheda_pai.idAssistito %}
                    {{ i.nome }}
                    {{ i.cognome }}
                    <br>
                 {% endif %}
                {% endfor %}
                </td>
                <td data-title='Stato' class ="{% if scheda_pai.currentPlace == 'approvata' %} text-pink {% elseif scheda_pai.currentPlace == 'attiva' %} text-success {% elseif scheda_pai.currentPlace == 'nuova' %} text-purple {% elseif scheda_pai.currentPlace == 'in_attesa_di_chiusura' %} text-warning {% elseif scheda_pai.currentPlace == 'chiusa' %} text-danger{% elseif scheda_pai.currentPlace == 'chiusa_con_rinnovo' %} text-orange {% endif %}">{{ scheda_pai.currentPlace }}</td>
                <td data-title='Operazioni'>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_scheda_pai_anagrafica_assistito', {'id': scheda_pai.id}) }}">Visualizza Dati Assistito</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_scheda_pai_show', {'id': scheda_pai.id}) }}">Visualizza scheda Pai</a></li>
                        <li><a class="dropdown-item {% if user.username != scheda_pai.idOperatorePrincipale.username %}disabled{% endif %}"href="{{ path('app_scheda_pai_edit', {'id': scheda_pai.id}) }}">Modifica scheda Pai</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_scheda_pai_delete', {'id': scheda_pai.id, '_token':  csrf_token('delete' ~ scheda_pai.id) }) }}"onclick="return confirm('Sei sicuro di voler eliminare la scheda?')">Elimina scheda Pai</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_scheda_pai_chiusura', {'id': scheda_pai.id}) }}">Chiudi Scheda</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'approvata' or user.username != scheda_pai.idOperatorePrincipale.username %}disabled{% endif %}" href="{{ path('app_valutazione_generale_new', {'id_pai': scheda_pai.id})}}">Valutazione Generale</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' %}disabled{% endif %}" href="{{ path('app_valutazione_figura_professionale_new', {'id_pai': scheda_pai.id})}}">Valutazione Figura Professionale</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' or user.username != scheda_pai.idOperatorePrincipale.username %}disabled{% endif %}" href="{{ path('app_parere_mmg_new', {'id_pai': scheda_pai.id})}}">Parere MMG</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% endif %}" href="{{ path('app_chiusura_servizio_new', {'id_pai': scheda_pai.id})}}">Chiusura servizio</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaBarthel == false %}disabled{% endif %}" href="{{ path('app_barthel_new', {'id_pai': scheda_pai.id})}}">Barthel</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaBraden == false %}disabled{% endif %}" href="{{ path('app_form_pai_braden_new', {'id_pai': scheda_pai.id})}}">Braden</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaSpmsq == false %}disabled{% endif %}" href="{{ path('app_s_p_m_s_q_new', {'id_pai': scheda_pai.id})}}">SPMSQ</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaTinetti == false %}disabled{% endif %}" href="{{ path('app_tinetti_new', {'id_pai': scheda_pai.id})}}">Tinetti</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaVas == false %}disabled{% endif %}" href="{{ path('app_vas_new', {'id_pai': scheda_pai.id})}}">Vas</a></li>
                        <li><a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaLesioni == false %}disabled{% endif %}" href="{{ path('app_lesioni_new', {'id_pai': scheda_pai.id})}}">Lesioni</a></li>  
                    </ul>
                    </div>
                </td>
                <td class="bi bi-plus-circle" data-bs-toggle="collapse" data-bs-target="#data{{scheda_pai.id}}" aria-expanded="false" aria-controls="data{{scheda_pai.id}}">
                <a href="#" >
                </td> 
            </tr>
             <tr>
            <td colspan="8" class="hiddenRow">
                <div  class="collapse collapse-vertical" id="data{{scheda_pai.id}}"> 
                    <table class="col-sm-12  table-striped table-condensed ">
                        <thead class="cf">
                            <tr>
                                <th>Op Inf</th>
                                <th>Op Tdr</th>
                                <th>Op Log</th>
                                <th>Op Asa</th>
                                <th>Op Oss</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td data-title='Op Inf'>
                            {% if scheda_pai.idOperatoreSecondarioInf  is empty %}
                                Nessuno
                            {% endif %}
                            {% for i in scheda_pai.idOperatoreSecondarioInf %}
                                {{i.name}}
                                {{i.surname}}  
                                <br>
                            {% endfor %} 
                            </td>
                            <td data-title='Op Tdr'>
                            {% if scheda_pai.idOperatoreSecondarioTdr  is empty %}
                                Nessuno
                            {% endif %}
                            {% for i in scheda_pai.idOperatoreSecondarioTdr %}
                                {{i.name}}
                                {{i.surname}}  
                                <br>
                            {% endfor %}
                            </td>
                            <td data-title='Op Log'>
                            {% if scheda_pai.idOperatoreSecondarioLog  is empty %}
                                Nessuno
                            {% endif %}
                            {% for i in scheda_pai.idOperatoreSecondarioLog %}
                                {{i.name}}
                                {{i.surname}}  
                                <br>
                            {% endfor %}
                            </td>
                            <td data-title='Op Asa'>
                            {% if scheda_pai.idOperatoreSecondarioAsa  is empty %}
                                Nessuno
                            {% endif %}
                            {% for i in scheda_pai.idOperatoreSecondarioAsa %}
                                {{i.name}}
                                {{i.surname}}  
                                <br>
                            {% endfor %}
                            </td>
                            <td data-title='Op Oss'>
                            {% if scheda_pai.idOperatoreSecondarioOss  is empty %}
                                Nessuno
                            {% endif %}
                            {% for i in scheda_pai.idOperatoreSecondarioOss %}
                                {{i.name}}
                                {{i.surname}}  
                                <br>
                            {% endfor %}
                            </td>
                        </tbody>
                    </table>      
                </div> 
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



    <a class="btn btn-primary" href="{{ path('app_scheda_pai_new') }}">Nuova scheda</a>
    
    
<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_scheda_pai_index') }}'; document.getElementById('my_form').submit();"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_scheda_pai_index', {'page':pagina-1}) }}'; document.getElementById('my_form').submit();"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_scheda_pai_index', {'page':i}) }}'; document.getElementById('my_form').submit();">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_scheda_pai_index', {'page':pagina+1}) }}'; document.getElementById('my_form').submit();">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="javascript:void(0)" onclick="document.getElementById('my_form').action = '{{ path('app_scheda_pai_index', {'page':pagine_totali}) }}'; document.getElementById('my_form').submit();">>></a></li>
  </ul>
</nav>
</div>
{% endblock %}

