{% extends 'base.html.twig' %}

{% block title %}SchedaPAI index{% endblock %}

{% block body %}
    <h1>Schede PAI</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Operatore Principale</th>
                <th>Id Operatore Secondario Inf</th>
                <th>Id Operatore Secondario Tdr</th>
                <th>Id Operatore Secondario Log</th>
                <th>Id Operatore Secondario Asa</th>
                <th>Id Operatore Secondario Oss</th>
                <th>Id Assistito</th>
                <th>Id Console</th>
                <th>Id Progetto</th>
                <th>Stato</th>
                <th>Operazioni</th>
                
            </tr>
        </thead>
        <tbody>
        {% for scheda_pai in scheda_pais %}
            <tr>
                <td>{{ scheda_pai.id }}</td>
                <td>{{ scheda_pai.idOperatorePrincipale }}</td>
                <td>{{ scheda_pai.idOperatoreSecondarioInf ? scheda_pai.idOperatoreSecondarioInf|join(', ') : '' }}</td>
                <td>{{ scheda_pai.idOperatoreSecondarioTdr ? scheda_pai.idOperatoreSecondarioTdr|join(', ') : '' }}</td>
                <td>{{ scheda_pai.idOperatoreSecondarioLog ? scheda_pai.idOperatoreSecondarioLog|join(', ') : '' }}</td>
                <td>{{ scheda_pai.idOperatoreSecondarioAsa ? scheda_pai.idOperatoreSecondarioAsa|join(', ') : '' }}</td>
                <td>{{ scheda_pai.idOperatoreSecondarioOss ? scheda_pai.idOperatoreSecondarioOss|join(', ') : '' }}</td>
                <td>{{ scheda_pai.idAssistito }}</td>
                <td>{{ scheda_pai.idConsole }}</td>
                <td>{{ scheda_pai.idProgetto }}</td>
                <td>{{ scheda_pai.currentPlace }}</td>
                <td>
                    <a href="{{ path('app_scheda_pai_show', {'id': scheda_pai.id}) }}">Visualizza</a>
                    <a href="{{ path('app_scheda_pai_edit', {'id': scheda_pai.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_scheda_pai_new') }}">Nuova scheda</a>
    
<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_scheda_pai_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_scheda_pai_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_scheda_pai_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_scheda_pai_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_scheda_pai_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}

