{{ form_start(form) }}
<div class="row">
        <div class="col">
            {{ form_row(form.nome) }}
        </div>
</div>

<div class="row">
        <div class="col">
            {{ form_row(form.cognome) }}
        </div>
<div class="mb-3">
  <div class = "col-lg-6 col-12">
    <label for="integer" class="form-label">{{ form_label(form.eta) }}</label>
    {{ form_widget(form.eta) }}
  </div>
</div>

<div class="accordion" id="accordionPanel1">
  <div class = "col-lg-6 col-12">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading1">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapse1">
            Variabili percezione sensoriale
        </button>
        </h2>
        <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading1">
        <div class="accordion-body">
            <strong>4-Non Limitata</strong> Risponde agli ordini verbali. Non ha deficit sensoriale che limiti la capacità di sentire
            e di esprimere il dolore o il disagio.
            <strong>3-Leggermente Limitata</strong> a: Risponde agli ordini verbali ma non piò comunicare sempre il suo disagio o il 
            bisogno di cambiare posizione. b: Ha impedimento nel sensorio che limita la capacità di avvertire il dolore o il disagio in 
            1 o 2 estremità.
            <strong>2-Molto Limitata</strong> a: Risponde agli stimoli dolorosi. Non può comunicare il proprio disagio se non gemendo o agitandosi.
            b: Ha impedimento al sensorio che limita la percezione del dolore o disagio almeno per la metà del corpo.
            <strong>1-Completamente Limitata</strong> a: Non vi è risposta (non geme, non si contrae o afferra) allo stimolo doloroso,
            a causa del diminuito livello di coscienza o alla sedazione. b: Limitata capacità di percepire dolore in molte zone del corpo.
        </div>
        </div>
    </div>
  </div>
</div>
    <button class="btn">{{ button_label|default('Salva') }}</button>
{{ form_end(form) }}
