{% extends 'base.html.twig' %}

{% block title %}Paziente index{% endblock %}

{% block body %}
    <h1>Paziente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paziente in pazientes %}
            <tr>
                <td>{{ paziente.id }}</td>
                <td>{{ paziente.nome }}</td>
                <td>{{ paziente.cognome }}</td>
                <td>
                    <a href="{{ path('app_paziente_show', {'id': paziente.id}) }}">show</a>
                    <a href="{{ path('app_paziente_edit', {'id': paziente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_paziente_new') }}">Create new</a>
{% endblock %}
