{% extends 'base.html.twig' %}

{% block title %}ElencoBarthel{% endblock %}

{% block body %}
    <h1>Barthel</h1>

<div class="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Data di valutazione</th>
                <th>Alimentazione</th>
                <th>Bagno Doccia</th>
                <th>Igiene Personale</th>
                <th>Abbigliamento</th>
                <th>Continenza Intestinale</th>
                <th>Continenza Urinaria</th>
                <th>Toilet</th>
                <th>Totale Valutazione Funzionale</th>
                <th>Trasferimento Letto-Sedia</th>
                <th>Scale</th>
                <th>Deambulazione</th>
                <th>Deambulazione Valida</th>
                <th>Uso Carrozzina</th>
                <th>Totale</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for barthel in barthels %}
            <tr>
                <td data-title='Id'>{{ barthel.id }}</td>
                <td data-title='Nome'>{{ barthel.nome }}</td>
                <td data-title='Data valutazione'>{{ barthel.dataValutazione ? barthel.dataValutazione|date('Y-m-d') : '' }}</td>
                <td data-title='Alimentazione'>{{ barthel.alimentazione }}</td>
                <td data-title='Bagno doccia'>{{ barthel.bagnoDoccia }}</td>
                <td data-title='Igiene Personale'>{{ barthel.igienePersonale }}</td>
                <td data-title='Abbigliamento'>{{ barthel.abbigliamento }}</td>
                <td data-title='Continenza Intestinale'>{{ barthel.continenzaIntestinale }}</td>
                <td data-title='Continentza Urinaria'>{{ barthel.continenzaUrinaria }}</td>
                <td data-title='Toilet'>{{ barthel.toilet }}</td>
                <td data-title='Totale valutazione funzionale'>{{ barthel.totaleValutazioneFunzionale }}</td>
                <td data-title='Trasferimento Letto-sedia'>{{ barthel.trasferimentoLettoSedia }}</td>
                <td data-title='Scale'>{{ barthel.scale }}</td>
                <td data-title='Deambulazione'>{{ barthel.deambulazione ? 'Si' : 'No' }}</td>
                <td data-title='Deambulazione Valida'>{{ barthel.deambulazioneValida }}</td>
                <td data-title='Uso Carrozzina'>{{ barthel.usoCarrozzina }}</td>
                <td data-title='Totale'>{{ barthel.totale }}</td>
                <td data-title='Operazioni'>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_barthel_show', {'id': barthel.id}) }}">Visualizza</a>
                        <li><a class="dropdown-item" href="{{ path('app_barthel_edit', {'id': barthel.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    
    <a class="btn btn-primary" href="{{ path('app_scadenzario_index') }}">Menù Principale</a>

<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_barthel_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_barthel_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_barthel_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_barthel_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_barthel_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}
