{% extends 'base.html.twig' %}

{% block title %}ElencoBraden{% endblock %}

{% block body %}
    <h1>Braden</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Percezione Sensoriale</th>
                <th>Umidità</th>
                <th>Attività</th>
                <th>Mobilità</th>
                <th>Nutrizione</th>
                <th>Frizione Scivolamento</th>
                <th>Data Valutazione</th>
                <th>Totale</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for braden in bradens %}
            <tr>
                <td>{{ braden.id }}</td>
                <td>{{ braden.nome }}</td>
                <td>{{ braden.percezioneSensoriale }}</td>
                <td>{{ braden.umidita }}</td>
                <td>{{ braden.attivita }}</td>
                <td>{{ braden.mobilita }}</td>
                <td>{{ braden.nutrizione }}</td>
                <td>{{ braden.frizioneScivolamento }}</td>
                <td>{{ braden.dataValutazione ? braden.dataValutazione|date('Y-m-d') : '' }}</td>
                <td>{{ braden.totale }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_form_pai_braden_show', {'id': braden.id}) }}">Visualizza</a>
                        <li><a class="dropdown-item" href="{{ path('app_form_pai_braden_edit', {'id': braden.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    <a class="btn btn-warning" href="{{ path('app_homepage') }}">Menù Principale</a>

<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_form_pai_braden_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_form_pai_braden_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_form_pai_braden_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_form_pai_braden_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_form_pai_braden_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}
