{% extends 'base.html.twig' %}

{% block title %}Braden{% endblock %}

{% block body %}
    <h1>Braden</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ braden.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ braden.nome }}</td>
            </tr>
            <tr>
                <th>Percezione Sensoriale</th>
                <td>{{ braden.percezioneSensoriale }}</td>
            </tr>
            <tr>
                <th>Umidità</th>
                <td>{{ braden.umidita }}</td>
            </tr>
            <tr>
                <th>Attività</th>
                <td>{{ braden.attivita }}</td>
            </tr>
            <tr>
                <th>Mobilità</th>
                <td>{{ braden.mobilita }}</td>
            </tr>
            <tr>
                <th>Nutrizione</th>
                <td>{{ braden.nutrizione }}</td>
            </tr>
            <tr>
                <th>Frizione Scivolamento</th>
                <td>{{ braden.frizioneScivolamento }}</td>
            </tr>
            <tr>
                <th>Data Valutazione</th>
                <td>{{ braden.dataValutazione ? braden.dataValutazione|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Totale</th>
                <td>{{ braden.totale }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-warning" href="{{ path('app_form_pai_braden_index') }}">Torna alla lista</a>

    <a class="btn btn-primary" href="{{ path('app_form_pai_braden_edit', {'id': braden.id}) }}">Modifica</a>

    {{ include('braden/_delete_form.html.twig') }}
{% endblock %}
