{% extends 'base.html.twig' %}

{% block title %}ElencoVas{% endblock %}

{% block body %}
    <h1>Vas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Paziente</th>
                <th>Data</th>
                <th>Ora</th>
                <th>Rilevazione di Base 2 volte</th>
                <th>Rilevazione al bisogno del Pz</th>
                <th>Esito rilevazione post trattamento</th>
                <th>Rilevazione Monitoraggio</th>
                <th>Farmaci</th>
                <th>Altro</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for va in vas %}
            <tr>
                <td>{{ va.id }}</td>
                <td>{{ va.paziente }}</td>
                <td>{{ va.data ? va.data|date('Y-m-d') : '' }}</td>
                <td>{{ va.ora ? va.ora|date('H:i:s') : '' }}</td>
                <td>{{ va.base2 }}</td>
                <td>{{ va.pz }}</td>
                <td>{{ va.esito }}</td>
                <td>{{ va.rilevanzaMonitoraggio }}</td>
                <td>{{ va.farmaci ? 'Si' : 'No' }}</td>
                <td>{{ va.altro ? 'Si' : 'No' }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_vas_show', {'id': va.id}) }}">Visualizza</a>
                        <li><a class="dropdown-item" href="{{ path('app_vas_edit', {'id': va.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    <a class="btn btn-warning" href="{{ path('app_homepage') }}">Menù Principale</a>

<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_vas_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_vas_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_vas_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_vas_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_vas_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}
