{% extends 'base.html.twig' %}

{% block title %}ElencoVas{% endblock %}

{% block body %}
    <h1>Vas</h1>
 
 <div class="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Ora</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for va in vas %}
            <tr>
                <td data-title='Id'>{{ va.id }}</td>
                <td data-title='Data'>{{ va.data ? va.data|date('Y-m-d') : '' }}</td>
                <td data-title='Ora'>{{ va.ora ? va.ora|date('H:i:s') : '' }}</td>
                <td data-title='Operazioni'>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_vas_show', {'id': va.id}) }}">Visualizza</a>
                        <li><a class="dropdown-item" href="{{ path('app_vas_edit', {'id': va.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    
<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_vas_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_vas_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_vas_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_vas_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_vas_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}
