{% extends 'base.html.twig' %}

{% block title %}ElencoSPMSQ{% endblock %}

{% block body %}
    <h1>Valutazione Cognitiva:SPMSQ </h1>

<div class="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Data di valutazione</th>
                <th>Che giorno è oggi?</th>
                <th>Che giorno della settimana è?</th>
                <th>Come si chiama questo posto?</th>
                <th>Qual è il suo indirizzo?</th>
                <th>Quanti anni ha?</th>
                <th>Quando è nato?</th>
                <th>Chi è il Presidente della Repubblica?</th>
                <th>Chi era il Presidente precedente?</th>
                <th>Qual è il cognome da ragazza di sua madre?</th>
                <th>Sottragga da 20 tre e poi ancora fino in fondo</th>
                <th>Totale</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for s_p_m_s_q in s_p_m_s_qs %}
            <tr>
                <td data-title='Id'>{{ s_p_m_s_q.id }}</td>
                <td data-title='Nome'>{{ s_p_m_s_q.nome }}</td>
                <td data-title='Data di valutazione'>{{ s_p_m_s_q.dataValutazione ? s_p_m_s_q.dataValutazione|date('Y-m-d') : '' }}</td>
                <td data-title='Che giorno è oggi?'>{{ s_p_m_s_q.giornoOggi ? 'Si' : 'No' }}</td>
                <td data-title='Che giorno della settimana è?'>{{ s_p_m_s_q.giornoSettimana ? 'Si' : 'No' }}</td>
                <td data-title='Come si chiama questo posto?'>{{ s_p_m_s_q.posto ? 'Si' : 'No' }}</td>
                <td data-title='Quel è il suo indirizzo?'>{{ s_p_m_s_q.indirizzo ? 'Si' : 'No' }}</td>
                <td data-title='Quanti anni ha?'>{{ s_p_m_s_q.anni ? 'Si' : 'No' }}</td>
                <td data-title='Quando è nato?'>{{ s_p_m_s_q.dataNascita ? 'Si' : 'No' }}</td>
                <td data-title='Chi è il Presidente della Repubblica?'>{{ s_p_m_s_q.presidenteAttuale ? 'Si' : 'No' }}</td>
                <td data-title='Chi era il Presidente precedente?'>{{ s_p_m_s_q.presidentePrecedente ? 'Si' : 'No' }}</td>
                <td data-title='Quel è il cognome da ragazza di sua madre?'>{{ s_p_m_s_q.cognomeMadre ? 'Si' : 'No' }}</td>
                <td data-title='Sottragga da 20 3 e poi ancora fino in fondo'>{{ s_p_m_s_q.sottrazione ? 'Si' : 'No' }}</td>
                <td data-title='Totale'>{{ s_p_m_s_q.totale }}</td>
                <td data-title='Operazioni'>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_s_p_m_s_q_show', {'id': s_p_m_s_q.id}) }}">Visualizza</a>
                        <li><a class="dropdown-item" href="{{ path('app_s_p_m_s_q_edit', {'id': s_p_m_s_q.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    
    <a class="btn btn-primary" href="{{ path('app_homepage') }}">Menù Principale</a>

<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_s_p_m_s_q_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_s_p_m_s_q_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_s_p_m_s_q_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_s_p_m_s_q_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_s_p_m_s_q_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}
