{% extends 'base.html.twig' %}

{% block title %}SPMSQ{% endblock %}

{% block body %}
    <h1>SPMSQ</h1>

<div id="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ s_p_m_s_q.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ s_p_m_s_q.nome }}</td>
            </tr>
            <tr>
                <th>Data di Valutazione</th>
                <td>{{ s_p_m_s_q.dataValutazione ? s_p_m_s_q.dataValutazione|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Che giorno è oggi?</th>
                <td>{{ s_p_m_s_q.giornoOggi ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Che giorno della settimana è?</th>
                <td>{{ s_p_m_s_q.giornoSettimana ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Come si chiama questo posto?</th>
                <td>{{ s_p_m_s_q.posto ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Qual è il suo indirizzo?</th>
                <td>{{ s_p_m_s_q.indirizzo ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Quanti anni ha?</th>
                <td>{{ s_p_m_s_q.anni ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Quando è nato?</th>
                <td>{{ s_p_m_s_q.dataNascita ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Chi è il Presidente della Repubblica?</th>
                <td>{{ s_p_m_s_q.presidenteAttuale ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Chi era il Presidente precedente?</th>
                <td>{{ s_p_m_s_q.presidentePrecedente ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Qual è il cognome da ragazza si sua madre?</th>
                <td>{{ s_p_m_s_q.cognomeMadre ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Sottragga da 20 tre e poi ancora fino in fondo</th>
                <td>{{ s_p_m_s_q.sottrazione ? 'Si' : 'No' }}</td>
            </tr>
            <tr>
                <th>Totale</th>
                <td>{{ s_p_m_s_q.totale }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <div class="alert alert-info" role="alert">
    <div class="row">
    Esito della valutazione
    </div>
    <div class="row">
    - 0-2 errori: assenza di deterioramento
    </div>
    <div class="row">
    - 3-4 errori: deterioramento lieve
    </div>
    <div class="row">
    - 5-7 errori: deterioramento moderato
    </div>
    <div class="row">
    - 8-10 errori: deterioramento grave
    </div>
    </div>


    <a class="btn btn-warning" href="{{ path('app_s_p_m_s_q_index') }}">Torna alla lista</a>

    <a class="btn btn-primary" href="{{ path('app_s_p_m_s_q_edit', {'id': s_p_m_s_q.id}) }}">Modifica</a>

    {{ include('spmsq/_delete_form.html.twig') }}
{% endblock %}
