{% extends 'base.html.twig' %}

{% block title %}Chiusura Servizio index{% endblock %}

{% block body %}
    <h1>Chiusura Servizio</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Conclusioni</th>
                <th>DataValutazione</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chiusura_servizio in chiusura_servizios %}
            <tr>
                <td>{{ chiusura_servizio.id }}</td>
                <td>{{ chiusura_servizio.nome }}</td>
                <td>{{ chiusura_servizio.conclusioni }}</td>
                <td>{{ chiusura_servizio.dataValutazione ? chiusura_servizio.dataValutazione|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_chiusura_servizio_show', {'id': chiusura_servizio.id}) }}">Visualizza</a>
                    <a href="{{ path('app_chiusura_servizio_edit', {'id': chiusura_servizio.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Nessuna scheda chiusura servizio trovata</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chiusura_servizio_new') }}">Crea nuova scheda </a>
{% endblock %}
