{% extends 'base.html.twig' %}

{% block title %}ElencoChiusuraServizio{% endblock %}

{% block body %}
    <h1>Chiusura Servizio</h1>

<div id="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Conclusioni</th>
                <th>Data di valutazione</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for chiusura_servizio in chiusura_servizios %}
            <tr>
                <td date-title='Id'>{{ chiusura_servizio.id }}</td>
                <td date-title= 'Nome'>{{ chiusura_servizio.nome }}</td>
                <td date-title= 'Conclusioni'>{{ chiusura_servizio.conclusioni }}</td>
                <td date-title='Data di valutazione'>{{ chiusura_servizio.dataValutazione ? chiusura_servizio.dataValutazione|date('Y-m-d') : '' }}</td>
                <td date-title='Operazioni'>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_chiusura_servizio_show', {'id': chiusura_servizio.id}) }}">Visualizza</a>
                        <li><a class="dropdown-item" href="{{ path('app_chiusura_servizio_edit', {'id': chiusura_servizio.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    
    <a class="btn btn-warning" href="{{ path('app_homepage') }}">Menù Principale</a>

<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_chiusura_servizio_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_chiusura_servizio_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_chiusura_servizio_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_chiusura_servizio_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_chiusura_servizio_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}
