{% extends 'base.html.twig' %}

{% block title %}Scadenzario index
{% endblock %}

{% block body %}
	<div id="scheda_pai">
		<h1>Scadenzario</h1>

		<div class="b-example-divider"></div>


		<div class="no-more-tables">
			<table class="col-sm-12  table-striped table-condensed cf">
				<thead class="cf"></thead>
				<thead>
					<tr>
						<th>Data Inizio</th>
						<th>Data Fine</th>
						<th>Assistito</th>
						<th>Stato</th>
						<th>Operazioni</th>
						<th>Espandi</th>
					</tr>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for scheda_pai in scheda_pais %}
						{% if scheda_pai.currentPlace != "chiusa" and scheda_pai.currentPlace != "chiusa_con_rinnovo" %}

							<tr>
								<td data-title='Data Inizio'>{{ scheda_pai.dataInizio|date('Y-m-d') }}
								</td>
								<td data-title='Data Fine'>{{ scheda_pai.dataFine|date('Y-m-d')}}
								</td>
								<td data-title='Assistito'>
									{% for i in assistiti %}
										{% if i.id == scheda_pai.idAssistito %}
											{{ i.nome }}
											{{ i.cognome }}
											<br>
										{% endif %}
									{% endfor %}
								</td>
								<td data-title='Stato' class="{% if scheda_pai.currentPlace == 'approvata' %} text-pink {% elseif scheda_pai.currentPlace == 'attiva' %} text-success {% elseif scheda_pai.currentPlace == 'nuova' %} text-purple {% elseif scheda_pai.currentPlace == 'in_attesa_di_chiusura' %} text-warning {% elseif scheda_pai.currentPlace == 'chiusa' %} text-danger{% elseif scheda_pai.currentPlace == 'chiusa_con_rinnovo' %} text-orange {% endif %}">{{ scheda_pai.currentPlace }}</td>
								<td data-title='Operazioni'>
									<div class="btn-group" role="group">
										<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
											Apri
										</button>
										<ul class="dropdown-menu">
											<li>
												<a class="dropdown-item" href="{{ path('app_scheda_pai_anagrafica_assistito', {'id': scheda_pai.id}) }}">Visualizza Dati Assistito</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_scheda_pai_show', {'id': scheda_pai.id}) }}">Visualizza scheda Pai</a>
											</li>
											<li>
												<a class="dropdown-item {% if user.username != scheda_pai.idOperatorePrincipale.username %}disabled{% endif %}" href="{{ path('app_scheda_pai_edit', {'id': scheda_pai.id}) }}">Modifica scheda Pai</a>
											</li>
											<li>
												<a class="dropdown-item" href="{{ path('app_scheda_pai_delete', {'id': scheda_pai.id, '_token': csrf_token('delete' ~ scheda_pai.id) }) }}" onclick="return confirm('Sei sicuro di voler eliminare la scheda?')">Elimina scheda Pai</a>
											</li>
											<li>
												<a class="dropdown-item {% if scheda_pai.currentPlace == 'chiusa' or scheda_pai.currentPlace == 'chiusa_con_rinnovo' %}disabled{% endif %}" href="{{ path('app_scheda_pai_chiusura', {'id': scheda_pai.id}) }}">Chiudi Scheda</a>
											</li>
        
											<li><hr class="dropdown-divider"></li>
											<li>
												<a class="dropdown-item {% if scheda_pai.currentPlace != 'approvata' or user.username != scheda_pai.idOperatorePrincipale.username %}disabled{% endif %}" href="{{ path('app_valutazione_generale_new', {'id_pai': scheda_pai.id})}}">Valutazione Generale</a>
											</li>
											<li>
												<a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' %}disabled{% endif %}" href="{{ path('app_valutazione_figura_professionale_new', {'id_pai': scheda_pai.id})}}">Valutazione Figura Professionale</a>
											</li>
											<li>
												<a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' or user.username != scheda_pai.idOperatorePrincipale.username %}disabled{% endif %}" href="{{ path('app_parere_mmg_new', {'id_pai': scheda_pai.id})}}">Parere MMG</a>
											</li>
											<li>
												<a class="dropdown-item {% if user.username != scheda_pai.idOperatorePrincipale.username %}disabled{% endif %}" href="{{ path('app_chiusura_servizio_new', {'id_pai': scheda_pai.id})}}">Chiusura servizio</a>
											</li>
											<li>
												<a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaBarthel == false %}disabled{% endif %}" href="{{ path('app_barthel_new', {'id_pai': scheda_pai.id})}}">Barthel</a>
											</li>
											<li>
												<a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaBraden == false %}disabled{% endif %}" href="{{ path('app_form_pai_braden_new', {'id_pai': scheda_pai.id})}}">Braden</a>
											</li>
											<li>
												<a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaSpmsq == false %}disabled{% endif %}" href="{{ path('app_s_p_m_s_q_new', {'id_pai': scheda_pai.id})}}">SPMSQ</a>
											</li>
											<li>
												<a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaTinetti == false %}disabled{% endif %}" href="{{ path('app_tinetti_new', {'id_pai': scheda_pai.id})}}">Tinetti</a>
											</li>
											<li>
												<a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaVas == false %}disabled{% endif %}" href="{{ path('app_vas_new', {'id_pai': scheda_pai.id})}}">Vas</a>
											</li>
											<li>
												<a class="dropdown-item {% if scheda_pai.currentPlace != 'attiva' and scheda_pai.currentPlace != 'in_attesa_di_chiusura' %}disabled{% elseif scheda_pai.abilitaLesioni == false %}disabled{% endif %}" href="{{ path('app_lesioni_new', {'id_pai': scheda_pai.id})}}">Lesioni</a>
											</li>
										</ul>
									</div>
								</td>
								<td class="bi bi-plus-circle" data-bs-toggle="collapse" data-bs-target="#data{{scheda_pai.id}}" aria-expanded="false" aria-controls="data{{scheda_pai.id}}">
									<a href="#"></td>
								</td>
							</tr>
							<tr>
								<td colspan="8" class="hiddenRow">
									<div class="collapse collapse-vertical" id="data{{scheda_pai.id}}">
										<table class="col-sm-12  table-striped table-condensed ">
											<thead class="cf">
												<tr>
													<th>Codice Fiscale Assistito</th>
													<th>Op Principale</th>
													<th>Op Inf</th>
													<th>Op Tdr</th>
													<th>Op Log</th>
													<th>Op Asa</th>
													<th>Op Oss</th>
												</tr>
											</thead>
											<tbody>
												<td data-title='Codice Fiscale Assistito'>
													{% for i in assistiti %}
														{% if i.id == scheda_pai.idAssistito %}
															{% if i.codiceFiscale is empty %}
                                                            Nessuno
                                                            {% else %}
                                                            {{i.codiceFiscale}}
                                                            {% endif %}
															<br>
														{% endif %}
													{% endfor %}
												</td>
												<td data-title='Operatore Principale'>
													{% if scheda_pai.idOperatorePrincipale == null %}
														Nessuno
													{% else %}
														{{ scheda_pai.idOperatorePrincipale.name}}
														{{ scheda_pai.idOperatorePrincipale.surname}}
														<br>
													{% endif %}
												</td>
												<td data-title='Op Inf'>
													{% if scheda_pai.idOperatoreSecondarioInf  is empty %}
														Nessuno
													{% endif %}
													{% for i in scheda_pai.idOperatoreSecondarioInf %}
														{{i.name}}
														{{i.surname}}
														<br>
													{% endfor %}
												</td>
												<td data-title='Op Tdr'>
													{% if scheda_pai.idOperatoreSecondarioTdr  is empty %}
														Nessuno
													{% endif %}
													{% for i in scheda_pai.idOperatoreSecondarioTdr %}
														{{i.name}}
														{{i.surname}}
														<br>
													{% endfor %}
												</td>
												<td data-title='Op Log'>
													{% if scheda_pai.idOperatoreSecondarioLog  is empty %}
														Nessuno
													{% endif %}
													{% for i in scheda_pai.idOperatoreSecondarioLog %}
														{{i.name}}
														{{i.surname}}
														<br>
													{% endfor %}
												</td>
												<td data-title='Op Asa'>
													{% if scheda_pai.idOperatoreSecondarioAsa  is empty %}
														Nessuno
													{% endif %}
													{% for i in scheda_pai.idOperatoreSecondarioAsa %}
														{{i.name}}
														{{i.surname}}
														<br>
													{% endfor %}
												</td>
												<td data-title='Op Oss'>
													{% if scheda_pai.idOperatoreSecondarioOss  is empty %}
														Nessuno
													{% endif %}
													{% for i in scheda_pai.idOperatoreSecondarioOss %}
														{{i.name}}
														{{i.surname}}
														<br>
													{% endfor %}
												</td>
											</tbody>
										</table>
									</div>
								</td>
							</tr>
						{% endif %}
					{% else %}
						<tr>
							<td colspan="11">Nessuna scheda disponibile</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="b-example-divider"></div>


	{% endblock %}
