{% extends 'base.html.twig' %}

{% block title %}ElencoLesioni{% endblock %}

{% block body %}
    <h1>Lesioni</h1>

<div class="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data Rivalutazioni Settimanali</th>
                <th>Tipologia Lesione</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for lesioni in lesionis %}
            <tr>
                <td data-title='Id'>{{ lesioni.id }}</td>
                <td data-title='Data Rivalutazioni Settimanali'>{{ lesioni.dataRivalutazioniSettimanali ? lesioni.dataRivalutazioniSettimanali|date('Y-m-d') : '' }}</td>
                <td data-title='Tipologia Lesione'>{{ lesioni.tipologiaLesione }}</td>
                <td data-title='Operazioni'>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_lesioni_show', {'id': lesioni.id}) }}">Visualizza</a>
                        <li><a class="dropdown-item" href="{{ path('app_lesioni_edit', {'id': lesioni.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_lesioni_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_lesioni_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_lesioni_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_lesioni_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_lesioni_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}
