{% extends 'base.html.twig' %}

{% block title %}ElencoParereMMG{% endblock %}

{% block body %}
    <h1>Parere MMG</h1>

<div class="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Parere</th>
                <th>Descrizione</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for parere_mmg in parere_mmgs %}
            <tr>
                <td data-title='Id'>{{ parere_mmg.id }}</td>
                <td data-title='Nome'>{{ parere_mmg.nome }}</td>
                <td data-title='Parere'>{{ parere_mmg.parere}}</td>
                <td data-title='Descrizione'>{{ parere_mmg.descrizione }}</td>
                <td data-title='Operazioni'>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_parere_mmg_show', {'id': parere_mmg.id}) }}">Visualizza</a>
                        <li><a class="dropdown-item" href="{{ path('app_parere_mmg_edit', {'id': parere_mmg.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Nessun parere MMG disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    
    <a class="btn btn-primary" href="{{ path('app_homepage') }}">Menù Principale</a>

<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_parere_mmg_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_parere_mmg_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_parere_mmg_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_parere_mmg_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_parere_mmg_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}
