{% extends 'base.html.twig' %}

{% block title %}ElencoTinetti{% endblock %}

{% block body %}
    <h1>Tinetti</h1>

<div id="no-more-tables">
    <table class="col-sm-12  table-striped table-condensed cf">
        <thead class="cf">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Data di valutazione</th>
                <th>Equilibrio da seduto</th>
                <th>Alzarsi dalla sedia</th>
                <th>Tentativo di alzarsi</th>
                <th>Equilibrio stazione eretta</th>
                <th>Equilibrio stazione eretta prolungata</th>
                <th>Romberg</th>
                <th>Romberg Sensibilizzato</th>
                <th>Girarsi a 360° a</th>
                <th>Girarsi a 360° b</th>
                <th>Sedersi</th>
                <th>Totale Equilibrio</th>
                <th>Inizio della deambulazione immediatamente dopo il via</th>
                <th>Lunghezza passo piede destro</th>
                <th>Altezza passo piede destro</th>
                <th>Lunghezza passo piede sinistro</th>
                <th>Altezza passo piede sinistro</th>
                <th>Simmetria del passo</th>
                <th>Continuita del passo</th>
                <th>Traiettoria</th>
                <th>Tronco</th>
                <th>Cammino</th>
                <th>Totale Andatura</th>
                <th>Totale</th>
                <th>Operazioni</th>
            </tr>
        </thead>
        <tbody>
        {% for tinetti in tinettis %}
            <tr>
                <td data-title='Id'>{{ tinetti.id }}</td>
                <td data-title='Nome'>{{ tinetti.nome }}</td>
                <td data-title='Data valutazione'>{{ tinetti.dataValutazione ? tinetti.dataValutazione|date('Y-m-d') : '' }}</td>
                <td data-title='Equilibrio da seduto'>{{ tinetti.equilibrioSeduto }}</td>
                <td data-title='Alzarsi dalla sedia'>{{ tinetti.sedia }}</td>
                <td data-title='Tentativo di alzarsi'>{{ tinetti.alzarsi }}</td>
                <td data-title='Equilibrio stazione eretta'>{{ tinetti.stazioneEretta }}</td>
                <td data-title='Equilibrio stazione eretta prolungata'>{{ tinetti.stazioneErettaProlungata }}</td>
                <td data-title='Romberg'>{{ tinetti.romberg }}</td>
                <td data-title='Romberg sensibilizzato'>{{ tinetti.rombergSensibilizzato }}</td>
                <td data-title='Girarsi a 360° a'>{{ tinetti.girarsi1 }}</td>
                <td data-title='Girarsi a 360° b'>{{ tinetti.girarsi2 }}</td>
                <td data-title='Sedersi'>{{ tinetti.sedersi }}</td>
                <td data-title='Totale equilibrio'>{{ tinetti.totaleEquilibrio }}</td>
                <td data-title='Inizio della deambulazione immediatamente dopo il via'>{{ tinetti.inizioDeambulazione }}</td>
                <td data-title='Lunghezza passo piede destro'>{{ tinetti.piedeDx }}</td>
                <td data-title='Altezza passo piede destro'>{{ tinetti.piedeDx2 }}</td>
                <td data-title='Lunghezza passo piede sinistro'>{{ tinetti.piedeSx }}</td>
                <td data-title='Altezza passo piede sinistro'>{{ tinetti.piedeSx2 }}</td>
                <td data-title='Simmetria del passo'>{{ tinetti.simmetriaPasso }}</td>
                <td data-title='Continuita del passo'>{{ tinetti.continuitaPasso }}</td>
                <td data-title='Traiettoria'>{{ tinetti.traiettoria }}</td>
                <td data-title='Tronco'>{{ tinetti.tronco }}</td>
                <td data-title='Cammino'>{{ tinetti.cammino }}</td>
                <td data-title='Totale andatura'>{{ tinetti.totaleAndatura }}</td>
                <td data-title='Totale'>{{ tinetti.totale }}</td>
                <td data-title='Operazioni'>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Apri
                        </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('app_tinetti_show', {'id': tinetti.id}) }}">Visualizza</a>
                        <li><a class="dropdown-item" href="{{ path('app_tinetti_edit', {'id': tinetti.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="27">Nessuna scheda disponibile</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

    
    <a class="btn btn-primary" href="{{ path('app_homepage') }}">Menù Principale</a>

<nav aria-label="Page navigation example">
   <ul class="pagination justify-content-center">
       <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_tinetti_index') }}"><<</a></li>
        <li class="page-item"><a class="page-link {% if pagina==1 %}disabled{% endif %}" href="{{ path('app_tinetti_index', {'page':pagina-1}) }}"><</a></li>
    {% for i in 1..pagine_totali %}
        {% if i <= pagina + 1 and i >= pagina - 1 %}
            <li class="page-item"><a class="page-link" href="{{ path('app_tinetti_index', {'page':i}) }}">{{i}}</a></li>
        {% endif %}
    {% endfor %}
    <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_tinetti_index', {'page':pagina+1}) }}">></a></li>
      <li class="page-item"><a class="page-link {% if pagina==pagine_totali %}disabled{% endif %}" href="{{ path('app_tinetti_index', {'page':pagine_totali}) }}">>></a></li>
  </ul>
</nav>
{% endblock %}
