{% extends 'base.html.twig' %}

{% block title %}Bisogni index{% endblock %}

{% block body %}
    <h1>Bisogni index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bisogni in bisognis %}
            <tr>
                <td>{{ bisogni.id }}</td>
                <td>{{ bisogni.nome }}</td>
                <td>
                    <a href="{{ path('app_controller_pai_bisogni_show', {'id': bisogni.id}) }}">show</a>
                    <a href="{{ path('app_controller_pai_bisogni_edit', {'id': bisogni.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_controller_pai_bisogni_new') }}">Create new</a>
{% endblock %}
