{% extends 'base.html.twig' %}

{% block title %}ValutazioneFiguraProfessionale index{% endblock %}

{% block body %}
    <h1>ValutazioneFiguraProfessionale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Operatore</th>
                <th>TipoOperatore</th>
                <th>DiagnosiProfessionale</th>
                <th>ObbiettiviDaRaggiungere</th>
                <th>TipoEFrequenza</th>
                <th>ModalitàTempiMonitoraggio</th>
                <th>DataValutazione</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for valutazione_figura_professionale in valutazione_figura_professionales %}
            <tr>
                <td>{{ valutazione_figura_professionale.id }}</td>
                <td>{{ valutazione_figura_professionale.nome }}</td>
                <td>{{ valutazione_figura_professionale.operatore }}</td>
                <td>{{ valutazione_figura_professionale.tipoOperatore }}</td>
                <td>{{ valutazione_figura_professionale.diagnosiProfessionale }}</td>
                <td>{{ valutazione_figura_professionale.obbiettiviDaRaggiungere }}</td>
                <td>{{ valutazione_figura_professionale.tipoEFrequenza }}</td>
                <td>{{ valutazione_figura_professionale.modalitàTempiMonitoraggio }}</td>
                <td>{{ valutazione_figura_professionale.dataValutazione ? valutazione_figura_professionale.dataValutazione|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_valutazione_figura_professionale_show', {'id': valutazione_figura_professionale.id}) }}">show</a>
                    <a href="{{ path('app_valutazione_figura_professionale_edit', {'id': valutazione_figura_professionale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_valutazione_figura_professionale_new') }}">Create new</a>
{% endblock %}
