{% extends 'base.html.twig' %}

{% block title %}ValutazioneFiguraProfessionale index{% endblock %}

{% block body %}
    <h1>Valutazione Figura Professionale</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Tipo operatore</th>
                <th>Diagnosi Professionale</th>
                <th>Obbiettivi da raggiungere</th>
                <th>Tipo e frequenza</th>
                <th>Modalità e tempi di monitoraggio degli obbiettivi</th>
                <th>Data di valutazione</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
        {% for valutazione_figura_professionale in valutazione_figura_professionales %}
            <tr>
                <td>{{ valutazione_figura_professionale.id }}</td>
                <td>{{ valutazione_figura_professionale.nome }}</td>
                <td>{{ valutazione_figura_professionale.tipoOperatore }}</td>
                <td>{{ valutazione_figura_professionale.diagnosiProfessionale }}</td>
                <td>{{ valutazione_figura_professionale.obbiettiviDaRaggiungere }}</td>
                <td>{{ valutazione_figura_professionale.tipoEFrequenza }}</td>
                <td>{{ valutazione_figura_professionale.modalitaTempiMonitoraggio }}</td>
                <td>{{ valutazione_figura_professionale.dataValutazione ? valutazione_figura_professionale.dataValutazione|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_valutazione_figura_professionale_show', {'id': valutazione_figura_professionale.id}) }}">Mostra</a>
                    <a href="{{ path('app_valutazione_figura_professionale_edit', {'id': valutazione_figura_professionale.id}) }}">Modifica</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Nessuna valutazione trovata</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_valutazione_figura_professionale_new') }}">Crea nuova valutazione</a>
{% endblock %}
