{% extends 'base.html.twig' %}

{% block title %}ValutazioneFiguraProfessionale{% endblock %}

{% block body %}
    <h1>Valutazione Figura Professionale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ valutazione_figura_professionale.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ valutazione_figura_professionale.nome }}</td>
            </tr>
            <tr>
                <th>Tipo di operatore</th>
                <td>{{ valutazione_figura_professionale.tipoOperatore }}</td>
            </tr>
            <tr>
                <th>Diagnosi Professionale</th>
                <td>{{ valutazione_figura_professionale.diagnosiProfessionale }}</td>
            </tr>
            <tr>
                <th>Obbiettivi da raggiungere</th>
                <td>{{ valutazione_figura_professionale.obbiettiviDaRaggiungere }}</td>
            </tr>
            <tr>
                <th>Tipo e frequenza</th>
                <td>{{ valutazione_figura_professionale.tipoEFrequenza }}</td>
            </tr>
            <tr>
                <th>Modalità e tempi di monitoraggio degli obbiettivi</th>
                <td>{{ valutazione_figura_professionale.modalitaTempiMonitoraggio }}</td>
            </tr>
            <tr>
                <th>Data di valutazione</th>
                <td>{{ valutazione_figura_professionale.dataValutazione ? valutazione_figura_professionale.dataValutazione|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_valutazione_figura_professionale_index') }}">Torna alla lista</a>

    <a href="{{ path('app_valutazione_figura_professionale_edit', {'id': valutazione_figura_professionale.id}) }}">Modifica</a>

    {{ include('valutazione_figura_professionale/_delete_form.html.twig') }}
{% endblock %}
